# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Docker volumes
**/pgdata_vuln/

# OS files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Build outputs
dist/
build/
